$black: #15141b;
$white: #edecee;
$gray: #6d6d6d;
$purple: #a277ff;
$purple-fading: #3d375e7f;
$green: #61ffca;
$orange: #ffca85;
$pink: #f694ff;
$blue: #82e2ff;
$red: 	#ff6767;

$topbar_height: 40px;

:root {
  font-family: 'Fira Code', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: $white;
  background-color: $black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

.wrapper-progress-bar {
  position: fixed;
  top: 0;
  bottom: auto;
  right: 0;
  left: 0;
  background-color: $purple-fading;
  width: 100%;
  height: $topbar_height;
  z-index: 1;

  #progress-bar {
    background-color: $purple;
    width: 0%;
    height: $topbar_height;

    &.error {
      background-color: $red;
    }
    &.wait {
      background-color: $orange;
    }
    &.ok {
      background-color: $green;
    }
  }
}

#editor-view {
  position: absolute !important;
  width: 100% !important;
  height: 80% !important;
  overflow: hidden !important;
  top: $topbar_height;
}

.debugger {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: $purple;
  top: calc(80% + $topbar_height);
  height: calc(20% - ($topbar_height + ($topbar_height /2)) - 1px);
  bottom: 0;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 12px;
  overflow-y: scroll;
  border-top: 1px dashed $purple-fading;
  background-color: $purple-fading;
  display: none;
  &.show {
    display: block;
  }
}

#toggle,
#save,
#menu,
#debug {
  position: fixed;
  top: 0;
  z-index: 100;
  height: $topbar_height;
  background-color: $purple-fading;
  color: antiquewhite;
  padding: 3px 18px;
  font-weight: 600;
  font-size: 14px;
  border: 0;
  cursor: pointer;
  &:hover {
    background-color: $purple; 
  }
}

#toggle {
  left: 0;
}

#save {
  left: 60px;
}

#debug {
  right: 60px;
}

#menu {
  right: 0;
}