:root {
  font-family: 'Fira Code', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: bisque;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

#editor-progress-bar,
.debugger {
  position: fixed;
  top: 20px;
  bottom: 0;
  right: 0;
  left: 0;
}

#editor-progress-bar {
  background-color: lightcoral;
  width: 0%;
  height: 10px;
  top: 0px;
  bottom: auto;
}

.monaco-editor {
  width: 100% !important;
  top: 10px;
  overflow: hidden;
}

.debugger {
  top: auto;
  bottom: 0;
  height: 100px;
}

#editor-progress-bar.valid {
  background-color: darkturquoise;
}
#editor-progress-bar.error {
  background-color: tomato;
}
#editor-progress-bar.wait {
  background-color: gold;
}
#editor-progress-bar.ok {
  background-color: seagreen;
}